body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.909);
}
#container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(240, 78%, 36%, 0.433);
  max-width: 500px;
  overflow: hidden;
}
#display {
  width: 100%;
  padding: 10px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsla(240, 80%, 34%, 0.7);
  color: rgba(240, 248, 255, 0.846);
}
button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: none;
  background-color: rgba(240, 248, 255, 0.846);
  font-size: 2.8rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: hsla(208, 100%, 92%, 0.846);
}
button:active {
  background-color: hsla(208, 100%, 85%, 0.846);
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 25px;
}
.oper {
  background-color: hsla(180, 100%, 50%, 0.637);
}
.oper:hover {
  background-color: hsla(180, 100%, 65%, 0.7);
}
.oper:active {
  background-color: hsla(180, 100%, 85%, 0.755);
}
