body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.922);
  background-image: url(pawel-czerwinski.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#h1 {
  color: rgba(240, 248, 255, 0.903);
  font-size: 4rem;
  font-family: Arial, sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: 5px, solid, rgba(255, 255, 255, 0.729);
  border-radius: 50px;
}
#dis {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsla(180, 100%, 97%, 0.919);
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.599);
  margin-bottom: 25px;
}
#control button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(240, 248, 255, 0.872);
  transition: background-color 0.5s ease;
}
#strt {
  background-color: rgba(0, 255, 255, 0.5);
}
#strt:hover {
  background-color: rgba(0, 255, 255, 0.707);
}
#stop {
  background-color: rgba(93, 0, 255, 0.5);
}
#stop:hover {
  background-color: rgba(93, 0, 255, 0.761);
}
#reset {
  background-color: rgba(255, 0, 136, 0.5);
}
#reset:hover {
  background-color: rgba(255, 0, 136, 0.772);
}
